@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* Colores */
:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

/* General */
*{
    margin: 0;
    padding: 0;
}


body{
    font-family:'Rubik';
    font-weight: 400, 500;
}

/* Navegación*/

.ulNav{
    width: 80%;
    margin: auto;
}

.ulNav li{
    margin: auto;
    padding: 0px 20px;
    border: 2px solid transparent;
}

.ulNav li:last-child{
    border-radius: 5px;
    
    
}

#a1:hover{
color:var(--Soft-Red);
}

#a2:hover{
color:var(--Soft-Red);
}

#a3:hover{
color:var(--Soft-Red);
}

#a4:hover{
color:var(--Soft-Red);
}
            

.ulNav li:hover{
    border-color: var(--Soft-Red);
    border-radius: 5px;
    color: var(--Soft-Red);
    
}
.btnA:hover{
    color: var(--Soft-Red);
}

.container-fluid, img{
    padding-left:3%;
    
}

.navRedes{
    display: none;
    position: relative;
    float: left;
    text-align: center;  
}

.nav-link{
    width:20%;
    display:block;
    float:left;
    
}

.nav-item{
    align-items: center;
}

.container_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.colocacion{
    width: 45%;
    padding: 80px 10px;
    margin: auto;
}
.Primera{
    height: 500px;
    width: 45%;
}

#imagen_one{
    height: 90%;
}
.Primera_2{
    height: 500px;
    width: 45%;
}
.fondoImg{
    z-index: 10;
    position: relative;
    margin: 30px;
    float: right;
    width: 100%;
}
.fondoImg2{
    z-index: 10;
    position: relative;
    margin: 30px;
    float: left;
    width: 100%;
}
.background{
    background-color: var(--Soft-Blue);
    position: relative;
    bottom: 350px; 
    float: right;
    width: 90%;
    height: 350px;
    border-radius: 1000px 0px 0 1000px;
    z-index: 1;
}
.fondo2{
    background-color: var(--Soft-Blue);
    position: relative;
     top: 30%;
    max-width: 90%;
    height:380px;
    border-radius: 0px 1000px 1000px 0px;
    z-index: 1;
}
.Title{
    font-weight: 500;
    color: var(--Very-Dark-Blue);
}
.Expl{
    color: var(--Grayish-Blue);
}
.botones{
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size:small;
}
.btn_1{
    background-color: white;
    border-radius: 5px;
    color: var(--Soft-Blue);
    border-color: var(--Soft-Blue);
}
.btn_2{
    background-color: white;
    border-radius: 5px;
    color: var(--Grayish-Blue);
    border-color: var(--Grayish-Blue);
}

.btn_3{
    background-color: var(--Soft-Blue);
    border-radius: 5px;
    color:white;
}

.btn_3:hover{
    background-color: white;
    border-radius: 5px;
    color:var(--Soft-Blue);
    border-color: var(--Soft-Blue);
}

.btn_4{
    background-color: var(--Soft-Red);
    color:white;
    border-radius: 5px;
    font-size: small;
    width:20%;
}

.btn_4:hover{
    background-color: white;
    color:var(--Soft-Red);
}

#b1:hover{
    color:var(--Soft-Red);

}

#b2:hover{
    color:var(--Soft-Red);

}

#b3:hover{
    color:var(--Soft-Red);

}

#b4:hover{
    color:var(--Soft-Red);

}

.colocacion_1{
    text-align: center;
    margin: auto;
    width: 50%;
}

#more{
    margin-top: 100px;
}

.lo{
    height: 50px;
}

.nav-item .btnselect{
    color: black;
    font-size: small;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid var(--Grayish-Blue);
}

.nav-item .btnselect:hover{
    border-bottom: 2px solid var(--Soft-Red);
    color:var(--Soft-Red);
    cursor:pointer;
}

.nav-item .btnA{
    border-bottom: 5px solid var(--Soft-Red);
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px auto 150px auto;
  }
.card{
    box-shadow: 5px 5px 20px var(--Grayish-Blue);
}
.card:nth-child(2){
    transform: translateY(10%);
}
.card:nth-child(3){
    transform: translateY(20%);
}
.imgNW{
    margin:10px auto;
}
/* .hrNW{
} */
.btnNW{
    width: 100%;
    padding: 10px;
}
.select{
    width: 100%;
    border: 1px solid var(--Grayish-Blue);
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding: 10px;
    font-weight: 400;
}

.select:nth-last-child(1){
    border-bottom: 1px solid var(--Grayish-Blue);
}

.select::selection{
    border-right: none;
    border-left: none;
}

.select::after{
    color: var(--Soft-Red);
}

.btnQ{
    margin: 50px auto;
    padding: 10px 20px;
}

.btn1:hover{
    transform: scale(1.05);
}

.gitModal{
    width: 100%;
    margin: auto;
    text-align: center;
}

.contactus{
    background-color: var(--Soft-Blue);
    color: white;
    width: 100%;
}

.contactus_1{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

.f{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

.email{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 65%;
}

.btn3{
    background-color: var(--Soft-Red);
    border: none;
    border-radius: 5px;
    color: white;
    width: 25%;
    padding: 10px;
}

.btn3:hover{
    transform: scale(1.05);
}

/* Footer */

.footer{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.footer a{
    color: white;
}
.footer ul li a:hover{
    color: var(--Soft-Blue);
}

@media (max-width: 1000px) {

    /* navbar */
    .navbar{
        background-color: var(--Very-Dark-Blue) !important;
        opacity: 0.9;
    }

    .navbar h3{
        color: white;
    }

    .ulNav{
        padding: 40px 20px;
        background-color: var(--Very-Dark-Blue);
    }

    .ulNav li{
        margin: 30px auto;
        width: 90%;
        text-align: center;
    }

    .ulNav li:hover{
        background-color: transparent;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
    }

    .ulNav li:last-child{
        background-color: transparent;
        border-radius: 5px;
        color: white;
    }

    .ulNav li:last-child:hover{
        background-color: transparent;
    }

    .n{
        color: white !important;
    }

    .navRedes{
        display: inline-block!important;
        align-items: center;
        list-style: none;
        color: white !important;
        padding: 0;
        margin-top: 70px;
        margin-left: 40%;
        width: 75%;
    }
    
    .navbar-nav{
        margin-left: -50px;
        width:100%;
        padding-left: 35%;
    }

    .navbar-nav a{
        margin-left:30%;
        text-align: center;
    }

    #a2{
        margin-left: 35%;

    }

    #a4{
        margin-left: 35%;

    }

    .navRedes li a{
        display: block;
        list-style: none;
        color: white !important;
        text-align: center;
        border-radius: 5px;
        
    }

    .navRedes li a:hover{
        border: none;
    }

    .background{
        background-color: var(--Soft-Blue);
        position: relative;
        bottom: 250px; /* ajuste medidas */ 
        float: right;
        width: 90%;
        height: 250px;
        border-radius: 1000px 0px 0 1000px;
        z-index: 1;
    }
    .fondo2{
        background-color: var(--Soft-Blue);
        position: relative;
         top: 10%; /* ajuste medidas  */
        max-width: 90%;
        height: 300px;
        border-radius: 0px 1000px 1000px 0px;
        z-index: 1;
    }
    .contactus_1{
        width: 80%;
    }
}

@media (max-width: 700px) {
    .container_1{
        display: block;
    }
    .colocacion{
        width: 90%;
        padding: 20px 10px;
    }
    .Primera{
        height: 450px;
        width: 85%;
        float: right;
    }
    .Primera_2{
        height: 300px;
        width: 85%;
    }
    .background{
        background-color: var(--Soft-Blue);
        position: relative;
        bottom: 200px; /* ajuste medidas */ 
        float: right;
        width: 90%;
        height: 200px;
        border-radius: 1000px 0px 0 1000px;
        z-index: 1;
    }
    .fondo2{
        background-color: var(--Soft-Blue);
        position: relative;
         top: 30%; /* ajuste medidas  */
        max-width: 90%;
        height: 200px;
        border-radius: 0px 1000px 1000px 0px;
        z-index: 1;
    }
    #navB{
        display: block;
        text-align: center;
    }
    #navB .nav-item{
        width: 90%;
        margin: auto;
        border-bottom: 2px solid var(--Grayish-Blue);
    }
    .nav-item .btnF{
        border-bottom: none;
        padding-bottom: 2px;
    }
    .colocacion_1{
        width: 90%;
    }
    .contactus_1{
        width: 100%;
    }
    .footer nav{
        flex-direction: column;
    }
    #col{
        display: flex;
        flex-direction: column;
    }
    #col2{
        display: block;
    }
    
}
@media (max-width: 400px) {
    .Primera{
        height: 300px;
        width: 85%;
        float: right;
    }
}